/*Подключаем шрифты из папки Fonst*/
@font-face {font-family: Skim_Milk;  src: url("../fonts/Skim_Milk.ttf");}
@font-face {font-family: Polaris;  src: url("../fonts/Polaris.ttf");}
@font-face {font-family: Candy; src: url("../fonts/Candy.ttf");}
@font-face {font-family: Ojiuce; src: url("../fonts/Ojiuce.ttf");}

/* Установка фоновой картинки*/
body {background: url("../images/pap2.jpg") no-repeat center center fixed; background-size: cover;}

/*Устанавливаем полужирный шрифт для span*/
.intense {font-weight: bold}

.mainNav {z-index: 99;}

/*Центруем направление текста для всей верхней навигации*/
.mainNav_cont {text-align: center;}

/*Устанавливаем форматирование общих блоков для верхней навигации*/
.mainNav_cont_item{
	z-index: 99;
	position: relative;
	display: flex;
	display: -webkit-inline-flex; /* Safari */
	-webkit-flex-direction: column;
	opacity: 0.5;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 3px black;
	padding:5px 10px;
	margin: 3px 10px;
	transition: 0.2s ease-in-out;}

/*Прописываем поведение при наведении мыши на верхнюю навигацию*/
.mainNav_cont_item:hover {
	box-shadow: 1px 1px 1px black;
	opacity: 1;}

/*Формат ссылок в верхнем меню навигации*/
.mainNav_cont_item_a {
	font-size: 3em;
	font-family: "Ojiuce", Helvetica, sans-serif;
	color: black;
	text-decoration: none;}

/*Заготовка для настройка родительских параметров выпадающего меню */
.mainNav_cont_subList { }


/*Формат выпадающего меню в меню навигации*/
.mainNav_cont_subList_item {
	display: none;
	opacity: 0.5;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 3px black;
	transition: 0.2s ease-in-out;}

/*Формат ссылки в выпадющем меню навигации*/
.mainNav_cont_subList_item_a {
	line-height: 1.5;
	font-size: 2em;
	font-family: "Ojiuce", Helvetica, sans-serif;
	color: black;
	text-decoration: none;}

/*Поведение пунктов выпадающего меню при наведении*/
.mainNav_cont_subList_item:hover {
	opacity:1;
	transition: 0.2s ease-in-out;
	box-shadow: 1px 1px 1px black;
	z-index: 2;}

/*Поведение выпадающего меню при наведении на заголовок в меню навигации*/
.mainNav_cont_item:hover .mainNav_cont_subList_item{
	text-align: center;
	display: block;}

/*Устанавливаем позиционирование левой ппанелии навигации*/
.leftNav {position:absolute; z-index: 55;}

/*Устанавливаем общее положие контейнера левой панели навигации*/
.leftNav_cont {
	position: fixed;
	margin: 0;
	padding: 0;
	top:190px;
	left:50px;
	color: black;}

/*Устанавливаем форматирование содержимого контейнера левой панели навигации*/
.leftNav_cont_item {
	list-style: cjk-ideographic;
	position:relative;
	padding:5px 10px;
	margin: 5px 10px;
	height: 3em;
	width: 600px;}

/*Устанавливаем форматирование параграфа левой панели навигации*/
.leftNav_cont_item_p  {
	position:absolute;
	transition: 0.3s ease-in-out;
	font-size: 3em;
	font-family: "Skim_Milk", Helvetica, sans-serif;
	color: black;
	text-decoration: none;}

/*Устанавливаем поведение при наведении на параграф левой панели навигации*/
.leftNav_cont_item_p:hover {
	vertical-align: middle;
	font-size: 4em;}

/*параметры слоя оверлей*/
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:1280px;
	height:800px;
	display:none;
	opacity:0;}

/*изменение оверлея если левая панель в классе selected*/
.leftNav.selected .overlay {display:block;}

/*изменение картинки слона когда левая панель в классе selected*/
.leftNav.selected #opa {
	opacity:1;
	left: 500px;}

/*Параметры картинки слона*/
#opa {
	z-index: 1;
	top: 120px;
	position:fixed;
	opacity:0.5;
	left: 600px;
	transition: 0.3s ease-in-out;}