/*Подключаем шрифты из папки Fonst*/
@font-face {font-family: Skim_Milk;  src: url("../fonts/Skim_Milk.ttf");}
@font-face {font-family: Polaris;  src: url("../fonts/Polaris.ttf");}
@font-face {font-family: Candy; src: url("../fonts/Candy.ttf");}
@font-face {font-family: Ojiuce; src: url("../fonts/Ojiuce.ttf");}
/* Установка фоновой картинки*/
body {background: url("../images/pap2.jpg") no-repeat center center fixed;
	background-size: cover;}
/*Устанавливаем полужирный шрифт для span*/
.intense {font-weight: bold}

/*Центруем направление текста для всей верхней навигации*/
.mainNav_cont {text-align: center;}

/*Устанавливаем форматирование общих блоков для верхней навигации*/
.mainNav_cont_item{
	display: inline-block;
	opacity: 0.5;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 3px black;
	padding:5px 10px;
	margin: 3px 10px;
	transition: 0.2s ease-in-out;
}
/*Прописываем поведение при наведении мыши на верхнюю навигацию*/
.mainNav_cont_item:hover {
	transition: 0.2s ease-in-out;
	box-shadow: 1px 1px 1px black;
	opacity: 1;
}
/*Фрмат ссылок в верхнем меню навигации*/
.mainNav_cont_item_a {
	font-size: 3em;
	font-family: "Ojiuce";
	color: black;
	text-decoration: none;
}
/*Устанавливаем позиционирование левой ппанелии навигации*/
.leftNav {
	position:absolute;
	top: 150px;
}
/*Устанавливаем общее положие контейнера левой панели навигации*/
.leftNav_cont {
	position: fixed;
	margin: 0;
	padding: 0;
	top:170px;
	left:50px;
	color: black;
}
/*Устанавливаем форматирование содержимого контейнера левой панели навигации*/
.leftNav_cont_item {
	list-style: cjk-ideographic;
	position:relative;
	padding:5px 10px;
	margin: 5px 10px;
	height: 3em;
	width: 600px;
}
/*Устанавливаем форматирование параграфа левой панели навигации*/
.leftNav_cont_item_p  {
	position:absolute;
	transition: 0.3s ease-in-out;
	font-size: 3em;
	font-family: "Skim_Milk";
	color: black;
	text-decoration: none;
}
/*Устанавливаем поведение при наведении на параграф левой панели навигации*/
.leftNav_cont_item_p:hover {
	vertical-align: middle;
	font-size: 4em;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
}

.leftNav.selected .overlay {
	display:block;
}

.leftNav.selected #opa {
	opacity:1;
	left: 500px;
}

#opa {
	position:absolute;
	opacity:0.5;
	left: 600px;
	transition: 0.3s ease-in-out
}