/*Подключаем шрифты из папки Fonst*/
@font-face {font-family: Skim_Milk;  src: url("../fonts/Skim_Milk.ttf");}
@font-face {font-family: Polaris;  src: url("../fonts/Polaris.ttf");}
@font-face {font-family: Candy; src: url("../fonts/Candy.ttf");}
@font-face {font-family: Ojiuce; src: url("../fonts/Ojiuce.ttf");}

/* Установка фоновой картинки*/
body {background: url("../images/pap2.jpg") no-repeat center center fixed; background-size: cover; position: relative;}

/*Устанавливаем полужирный шрифт для span  */
.intense {font-weight: bold; font-size:1em;}

.mainNav {z-index: 99;}

/*Центруем направление текста для всей верхней навигации*/
.mainNav_cont {text-align: center;}

/*Устанавливаем форматирование общих блоков для верхней навигации*/
.mainNav_cont_item{
	z-index: 99;
	position: relative;
	display: flex;
	display: -webkit-inline-flex; /* Safari */
	-webkit-flex-direction: column;
	flex-direction: column;
	opacity: 0.5;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 3px black;
	padding:5px 10px;
	margin: 3px 10px;
	transition: 0.2s ease-in-out;}

/*Прописываем поведение при наведении мыши на верхнюю навигацию*/
.mainNav_cont_item:hover {
	box-shadow: 1px 1px 1px black;
	opacity: 1;}

/*Формат ссылок в верхнем меню навигации*/
.mainNav_cont_item_a {
	font-size: 3em;
	font-family: "Ojiuce", Helvetica, sans-serif;
	color: black;
	text-decoration: none;}

/*Заготовка для настройка родительских параметров выпадающего меню */
.mainNav_cont_subList { }


/*Формат выпадающего меню в меню навигации*/
.mainNav_cont_subList_item {
	display: none;
	opacity: 0.5;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 3px black;
	transition: 0.2s ease-in-out;}

/*Формат ссылки в выпадющем меню навигации*/
.mainNav_cont_subList_item_a {
	line-height: 1.5;
	font-size: 2em;
	font-family: "Ojiuce", Helvetica, sans-serif;
	color: black;
	text-decoration: none;}

/*Поведение пунктов выпадающего меню при наведении*/
.mainNav_cont_subList_item:hover {
	opacity:1;
	transition: 0.2s ease-in-out;
	box-shadow: 1px 1px 1px black;
	z-index: 2;}

/*Поведение выпадающего меню при наведении на заголовок в меню навигации*/
.mainNav_cont_item:hover .mainNav_cont_subList_item{
	text-align: center;
	display: block;}

/*Устанавливаем позиционирование левой ппанелии навигации*/
.leftNav {position:absolute; z-index: 1;}

/*Устанавливаем общее положие контейнера левой панели навигации*/
.leftNav_cont {
	position: fixed;
	margin: 0;
	padding: 0;
	top:190px;
	left:50px;
	color: black;}

/*Устанавливаем форматирование содержимого контейнера левой панели навигации*/
.leftNav_cont_item {
	list-style: cjk-ideographic;
	position:relative;
	padding:5px 10px;
	margin: 5px 10px;
	height: 3em;
	width: 600px;}

/*Устанавливаем форматирование параграфа левой панели навигации*/
.leftNav_cont_item_p  {
	position:absolute;
	transition: 0.3s ease-in-out;
	font-size: 3em;
	font-family: "Skim_Milk", Helvetica, sans-serif;
	color: black;
	text-decoration: none;}

/*Устанавливаем поведение при наведении на параграф левой панели навигации*/
.leftNav_cont_item_p:hover {
	vertical-align: middle;
	font-size: 4em;}

/*параметры слоя оверлей*/
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:1280px;
	height:800px;
	display:none;
	opacity:0;}

/*изменение оверлея если левая панель в классе selected*/
.leftNav.selected .overlay {display:block;}

/*изменение картинки слона когда левая панель в классе selected*/
.leftNav.selected #opa {
	opacity:1;
	left: 500px;}

/*изменение картинки пропеллера когда левая панель в классе selected*/
.leftNav.selected #vent {
	opacity:1;
	left: 610px;}

/*Параметры картинки слона*/
#opa {
	top: 120px;
	position:fixed;
	opacity:0.5;
	left: 600px;
	transition: 0.3s ease-in-out;}

/*Параметры картинки пропелера*/
#vent {
	opacity: 0.5;
	z-index: 99;
	position: fixed;
	top: 110px;
	left: 710px;
	transition: 0.3s ease-in-out;}

/*Анимация пропеллера при наведении*/
#vent:hover {
	transition: 2s ease-in-out;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);}

/*общие параметры класса палароид*/
.polaroid {
	display: block;
	position: relative;
	z-index: 50;}

/*форматирование поларойд картинок*/
.polaroid img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	padding: 5px 5px 25px 5px;
	border: 1px solid white;
	position: fixed;
	width: 100px;
	height: 100px;
	background: white;
	box-shadow: 1px 1px 1px grey;
	transition: 0.2s ease-in-out;}

/*Положение и наклон фотографии полоройд 1*/
.polaroid img:nth-child(1){
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
	top: 150px;
	left:1050px;
	}


/*Положение и наклон фотографии полоройд 2*/
.polaroid img:nth-child(2){
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	top: 190px;
	left:1110px;
	}

/*Положение и наклон фотографии полоройд 1*/
.polaroid img:nth-child(3){
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	top: 210px;
	left:1080px;}

/*поведение картинок при наведении мышки*/
.polaroid img:hover {
	z-index: 99;
	width: 150px;
	height: 150px;
	-webkit-transform: translate(-8rem,-1rem);
	transform: translate(-8rem,-1rem);
	transition: 0.4s ease-in-out;}

/*поведение картинок при нажатии кнопки мышки*/
.polaroid img:active, .polaroid img:focus {
	padding: 5px 5px 35px 5px;
	width: 400px;
	height: 400px;
	-webkit-transform: translate(-30rem,-1rem);
	transform: translate(-30rem,-1rem);;
	transition: 0.4s ease-in-out;}

/*настройки видео*/
video {
	-webkit-filter:sepia(100%);
	filter: sepia(100%);
	width: 250px;
	position: fixed;
	top:400px;
	left:1000px;
	padding: 5px 5px 5px 5px;
	border: 1px solid gainsboro;
	background: white;
	box-shadow: 1px 1px 1px grey;}

/*Параметрый ширины контейнера ленты*/
.ribbon-cont {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-family: "Skim_Milk", Helvetica, sans-serif;
	font-size: 2em;
}

/*Параметры самой ленты*/
.ribbon-self {
	padding: 15px 15px;

	box-shadow: 5px 1px 3px 1px black;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: -webkit-linear-gradient(#faf1cc, #eae1bd,#faf1cc);
	background:linear-gradient(#faf1cc, #eae1bd,#faf1cc)}

/*Настройка модального окна*/
.modalDialog {
	position: fixed;
	font-family: "Skim_Milk", Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

/*поведение модального окна при клике*/
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

/* влияние модального окна на всех родителей*/
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: url("../images/pap3.jpg");
}

/*Настройка  кнопки закрыть*/
.close {
	color: #000000;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	background: radial-gradient(#faf1cc, #aea68c);}

/*измениние цвета кнопики закрыть при наведении*/
.close:hover { background: #bdb498; }

/*Параметры контейнера подвала*/
footer {
	position: absolute;
	top: 600px;
	left: 10px;}

/*Параметры ссылки в подвале*/
footer a {
	color: #000;
	font-family: "Ojiuce", Helvetica, sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 1px black;}

/*Поведение ссылки в подвале при наведении*/
footer a:hover {text-shadow: 0 0 1px black;}
